.box {
  display: grid;
  height: 50px;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
  
  background: 

    var(--main-bg) padding-box,
    
    var(--gradient-border) border-box, 
    
    var(--main-bg) border-box;
  
  background-position: center center;

  animation: bg-spin 3s linear infinite;

  &:hover {
      animation-play-state: paused;
    }
  
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.header {
  background-color: transparent;
  gap: 3rem;
  
}

.nav-link {
  color: var(--hunyadi-yellow);
  font-size: 1.3rem;
  
}
.nav-link:hover {
  color: var(
      --red-violet
  );
}

.nav-fill {
  width: 80%;
  gap: 50px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

#demotext {
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    background: transparent;
    display: grid;
    place-content: center;
    transform: perspective(1500px) rotateY(35deg) skew(5deg, 5deg);
    transition: 0.8s;
    font-size: 35pt;
  }
  
  
  #demotext:hover {
    transform: perspective(3000px) rotateY(-35deg) skew(-5deg, -5deg);
  }
  