.juegos {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22),
    1px 0px 0px 0px rgba(0, 0, 0, 0.22), 1px 2px 0px 0px rgba(0, 0, 0, 0.22),
    2px 1px 0px 0px rgba(0, 0, 0, 0.22), 2px 3px 0px 0px rgba(0, 0, 0, 0.22),
    3px 2px 0px 0px rgba(0, 0, 0, 0.22), 3px 4px 0px 0px rgba(0, 0, 0, 0.22),
    4px 3px 0px 0px rgba(0, 0, 0, 0.22), 4px 5px 0px 0px rgba(0, 0, 0, 0.22),
    5px 4px 0px 0px rgba(0, 0, 0, 0.22), 5px 6px 0px 0px rgba(0, 0, 0, 0.22),
    6px 5px 0px 0px rgba(0, 0, 0, 0.22), 6px 7px 0px 0px rgba(0, 0, 0, 0.22),
    7px 6px 0px 0px rgba(0, 0, 0, 0.22), 7px 8px 0px 0px rgba(0, 0, 0, 0.22),
    8px 7px 0px 0px rgba(0, 0, 0, 0.22);
}

:root {
    /* SCSS RGB */
   --medium-slate-blue: rgba(139, 86, 254, 1);
   --hunyadi-yellow: rgba(246, 174, 45, 1);
   --russian-violet: rgba(55, 34, 100, 1);
   --red-violet: rgba(204, 29, 136, 1);
   --deep-sky-blue: rgba(0, 187, 249, 1);
   
   /* SCSS Gradient  */
   --gradient-top: linear-gradient(0deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-right: linear-gradient(90deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-bottom: linear-gradient(180deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-left: linear-gradient(270deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-top-right: linear-gradient(45deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-bottom-right: linear-gradient(135deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-top-left: linear-gradient(225deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-bottom-left: linear-gradient(315deg, #8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);
   --gradient-radial: radial-gradient(#8b56feff, #f6ae2dff, #372264ff, #cc1d88ff, #00bbf9ff);   
}

.btn {
    background-color: var(--russian-violet);
    
}

.btn:hover {
    background-color: var(--medium-slate-blue);
}

.card-text {
    font-size: 0.8rem;
    color: var(--red-violet);
}

.img-juegos{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 5px;
    
    &:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-box-shadow: 3px 3px 5px #000;
      -moz-box-shadow: 3px 3px 5px #000;
      box-shadow: 3px 3px 5px #000;
      -webkit-backface-visibility: hidden;
      filter: brightness(1.2);
      cursor: pointer;
    }
}

.btn-tooltip {
    display: none; /* Inicialmente oculto */
    position: absolute;
    width: 150px;
    bottom: 10px;
    left: 50%;
    transform: translatey(60px) translateX(-50%);
    z-index: 1;
    color: var(--deep-sky-blue)
}


.position-relative:hover .btn-tooltip {
    display: block; /* Mostrar al hacer hover en el contenedor */
    opacity: 1; /* Hacer visible con opacidad 1 */
}


